.attendance-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140vh;
    background-color: rgb(255, 255, 255);
  }
  
  .attendance-box {
    border: 1px solid #272525;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgb(164, 218, 227);
  }

.header {
    position:absolute;
    Top:0;
    width: 100vw;
    height: 30px;
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 110px rgba(95, 172, 214, 0.1);
    background-color: rgb(164, 218, 227);
}
